<html>
	<head>
		<title>Grad Connect</title></br></br>
	</head>
	<a href="/">Go back to home page</a>
	<body>
	<center>
		<h1>Linguistics Professors</h1>
		<div style="width: 20%;">
		<ul>
		{{#each professors}}
		<div class="professor" id="{{id}}">
			<li><a href="#"><h3><div class="professor-name">{{name}}</div></h3></a></li>
		</div>
		<div class="professor">
			<label for="description">And to description:</label>
      <input type="text" class="professor" id="description" placeholder="professor desicription">
    </div>
		{{/each}}
		</ul>
		</div>
	</center>
	</body>
</html>